fieldset.password {
  position: relative;
  padding: 0;
  border: none;
  max-width: 400px;
  width: 100%;

  label {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 12px;
  }

  input {
    box-sizing: border-box;
    margin: 0 0 24px;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    box-shadow: none;
    line-height: 29px;
    padding: 20px 16px 6px;
    border-bottom: 2px solid #878787;
    background: #f5f5f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &:focus {
      border-bottom-color: #6200ee;
      background: #e8e8e8;
    }

    &:invalid {
      border-bottom-color: #b00020;
    }
  }
}
