fieldset.dob {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border: none;
  max-width: 400px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 0 24px;

  label {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 12px;
  }

  input {
    box-sizing: border-box;
    padding: 0;
    border: none;
    outline: none;
    width: calc(100% / 3);
    box-shadow: none;
    line-height: 29px;
    padding: 20px 16px 6px;
    background: transparent;
    background: #f5f5f5;
    border-bottom: 2px solid #878787;

    &:focus {
        background-color: #e8e8e8;
        border-bottom-color: #6200ee;
    }

    &:invalid {
      border-bottom-color: #b00020;
    }
  }
}
